<a href="https://colab.research.google.com/github/ChristianJJohnson/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module1-exploratory-data-analysis/LS_DS_111_Exploratory_Data_Analysis_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice Loading and Exploring Datasets

This assignment is purposely open-ended. You will be asked to load datasets from the [UC-Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php). 

Even though you maybe using different datasets than your fellow classmates, try and be supportive and assist each other in the challenges that you are facing. You will only deepend your understanding of these topics as you work to assist one another. Many popular UCI datasets face similar data loading challenges.

Remember that the UCI datasets do not necessarily have a file type of `.csv` so it's important that you learn as much as you can about the dataset before you try and load it. See if you can look at the raw text of the file either locally or using the `!curl` shell command -or in some other way before you try and read it in as a dataframe. This will help you catch what would otherwise be unforseen problems.

Feel free to embellish this notebook with additional markdown cells,code cells, comments, graphs, etc. Whatever you think helps adequately address the questions.

In [0]:
import numpy as np
import pandas as pd
from google.colab import files

## 1) Load a dataset from UCI (via its URL)

Please navigate to the home page and choose a dataset (other than the Adult dataset) from the "Most Popular" section on the right-hand side of the home page. Load the dataset via its URL and check the following (show your work):

- Are the headers showing up properly? **Headers are showing up after a bit of reformatting**
- Look at the first 5 and the last 5 rows, do they seem to be in order?**Not sure yet if it has a order per say but does seem to be displaying correctly**
- Does the dataset have the correct number of rows and columns as described in the UCI page? **Including the "class" attribute the shape is good**
- Does UCI list this dataset as having missing values? Check for missing values and see if your analysis corroborates what UCI reports?**Yes it does have missing data**
- if `NaN` values or other missing value indicators are not being detected by `df.isnull().sum()` find a way to replace whatever is indicating the missing values with `np.NaN`.
- Use the .describe() function in order to see the summary statistics of both the numeric and non-numeric columns. **See Below**

In [0]:
# checking out the data first
# Don't need it to run always
# !curl 'https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer/breast-cancer.data'

In [0]:
headers = ['Class', 'Age','Menopause', 'Tumor_Size', 'INV_Nodes',
           'Nodes_Caps', 'Deg_Malig', 'Breast', 'Breast_Quad', 'Irradiate']

In [0]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer/breast-cancer.data', header=None, names=headers)

In [10]:
df.head()

                  Class    Age Menopause  ... Breast Breast_Quad Irradiat
0  no-recurrence-events  30-39   premeno  ...   left    left_low       no
1  no-recurrence-events  40-49   premeno  ...  right    right_up       no
2  no-recurrence-events  40-49   premeno  ...   left    left_low       no
3  no-recurrence-events  60-69      ge40  ...  right     left_up       no
4  no-recurrence-events  40-49   premeno  ...  right   right_low       no

[5 rows x 10 columns]

In [11]:
df.tail()

                 Class    Age Menopause  ... Breast Breast_Quad Irradiat
281  recurrence-events  30-39   premeno  ...   left     left_up       no
282  recurrence-events  30-39   premeno  ...   left     left_up      yes
283  recurrence-events  60-69      ge40  ...  right     left_up       no
284  recurrence-events  40-49      ge40  ...   left    left_low       no
285  recurrence-events  50-59      ge40  ...   left    left_low       no

[5 rows x 10 columns]

In [12]:
df.shape

(286, 10)

In [51]:
# Nodes_Caps has unknown/missing data
df.Nodes_Caps.unique()

array(['no', 'yes', '?'], dtype=object)

In [50]:
# Breast_Quad has unknown/missing data
df.Breast_Quad.unique()

array(['left_low', 'right_up', 'left_up', 'right_low', 'central', '?'],
      dtype=object)

In [0]:
# Replaced those '?' with nan value
df = df.replace('?', np.NaN)

In [41]:
df.isnull().sum()

Class          0
Age            0
Menopause      0
Tumor_Size     0
INV_Nodes      0
Nodes_Caps     8
Deg_Malig      0
Breast         0
Breast_Quad    1
Irradiat       0
dtype: int64

In [49]:
df.sample(30)

                    Class    Age Menopause  ... Breast Breast_Quad Irradiate
129  no-recurrence-events  40-49   premeno  ...  right     left_up       yes
20   no-recurrence-events  50-59      ge40  ...   left    left_low        no
179  no-recurrence-events  40-49   premeno  ...  right    left_low       yes
193  no-recurrence-events  30-39   premeno  ...   left   right_low        no
88   no-recurrence-events  50-59      ge40  ...  right     left_up        no
204     recurrence-events  50-59   premeno  ...   left    right_up        no
51   no-recurrence-events  30-39   premeno  ...   left   right_low        no
10   no-recurrence-events  40-49   premeno  ...   left     central        no
74   no-recurrence-events  30-39   premeno  ...   left   right_low        no
1    no-recurrence-events  40-49   premeno  ...  right    right_up        no
66   no-recurrence-events  40-49   premeno  ...  right   right_low        no
224     recurrence-events  30-39   premeno  ...   left    left_low       yes
68   no-recurrence-events  50-59      ge40  ...   left    left_low        no
221     recurrence-events  30-39   premeno  ...  right     left_up        no
80   no-recurrence-events  50-59      ge40  ...  right    left_low        no
114  no-recurrence-events  40-49   premeno  ...  right    right_up        no
206     recurrence-events  50-59      ge40  ...   left           ?        no
106  no-recurrence-events  40-49   premeno  ...   left     left_up        no
90   no-recurrence-events  30-39   premeno  ...  right     central        no
71   no-recurrence-events  40-49   premeno  ...  right     left_up        no
26   no-recurrence-events  50-59   premeno  ...   left    left_low        no
112  no-recurrence-events  40-49   premeno  ...  right     left_up        no
203     recurrence-events  50-59      ge40  ...   left    left_low        no
17   no-recurrence-events  50-59   premeno  ...   left    left_low        no
97   no-recurrence-events  60-69      ge40  ...  right     left_up        no
278     recurrence-events  50-59   premeno  ...  right    right_up        no
208     recurrence-events  50-59   premeno  ...   left    right_up        no
117  no-recurrence-events  40-49      ge40  ...   left     left_up        no
280     recurrence-events  50-59      ge40  ...   left    left_low       yes
67   no-recurrence-events  50-59      ge40  ...   left     left_up        no

[30 rows x 10 columns]

In [45]:
df.describe()

        Deg_Malig
count  286.000000
mean     2.048951
std      0.738217
min      1.000000
25%      2.000000
50%      2.000000
75%      3.000000
max      3.000000

## 2) Load a dataset from your local machine.
Choose a second dataset from the "Popular Datasets" listing on UCI, but this time download it to your local machine instead of reading it in via the URL. Upload the file to Google Colab using the files tab in the left-hand sidebar or by importing `files` from `google.colab` The following link will be a useful resource if you can't remember the syntax: <https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92>

- Answer all of the same bullet point questions from part 1 again on this new dataset.

In [0]:
# uploading my files
uploaded = files.upload()

In [0]:
# TODO your work here!
# And note you should write comments, descriptions, and add new
# code and text blocks as needed

## 3) Make Crosstabs of the Categorical Variables

Take whichever of the above datasets has more categorical variables and use crosstabs to tabulate the different instances of the categorical variables.

In [0]:
# Your Code Here

## 4) Explore the distributions of the variables of the dataset using:
- Histograms
- Scatterplots
- Density Plots

In [0]:
# Your Code Here

## 5) Create at least one visualization from a crosstab:

Remember that a crosstab is just a dataframe and can be manipulated in the same way by row index, column, index, or column/row/cell position.

In [0]:
# Your Code Here

## Stretch Goals 

The following additional study tasks are optional, they are intended to give you an opportunity to stretch yourself beyond the main requirements of the assignment. You can pick and choose from the below, you do not need to complete them in any particular order.

### - Practice Exploring other Datasets

### -  Try using the Seaborn plotting library's "Pairplot" functionality in order to explore all of the possible histograms and scatterplots of your dataset all at once:

[Seaborn Pairplot](https://seaborn.pydata.org/generated/seaborn.pairplot.html)

### - Turn some of the continuous variables into categorical variables by binning the values using:
- [pd.cut()](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.cut.html)
- [pd.qcut()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html)
- <https://stackoverflow.com/questions/30211923/what-is-the-difference-between-pandas-qcut-and-pandas-cut>

And then use crosstabs to compare/visualize these binned variables against the other variables.


### - Other types and sources of data
Not all data comes in a nice single file - for example, image classification involves handling lots of image files. You still will probably want labels for them, so you may have tabular data in addition to the image blobs - and the images may be reduced in resolution and even fit in a regular csv as a bunch of numbers.

If you're interested in natural language processing and analyzing text, that is another example where, while it can be put in a csv, you may end up loading much larger raw data and generating features that can then be thought of in a more standard tabular fashion.

Overall you will in the course of learning data science deal with loading data in a variety of ways. Another common way to get data is from a database - most modern applications are backed by one or more databases, which you can query to get data to analyze. We'll cover this more in our data engineering unit.

How does data get in the database? Most applications generate logs - text files with lots and lots of records of each use of the application. Databases are often populated based on these files, but in some situations you may directly analyze log files. The usual way to do this is with command line (Unix) tools - command lines are intimidating, so don't expect to learn them all at once, but depending on your interests it can be useful to practice.

One last major source of data is APIs: https://github.com/toddmotto/public-apis

API stands for Application Programming Interface, and while originally meant e.g. the way an application interfaced with the GUI or other aspects of an operating system, now it largely refers to online services that let you query and retrieve data. You can essentially think of most of them as "somebody else's database" - you have (usually limited) access.

*Stretch goal* - research one of the above extended forms of data/data loading. See if you can get a basic example working in a notebook. Image, text, or (public) APIs are probably more tractable - databases are interesting, but there aren't many publicly accessible and they require a great deal of setup.