<a href="https://colab.research.google.com/github/ChristianJJohnson/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module1-exploratory-data-analysis/LS_DS_111_Exploratory_Data_Analysis_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice Loading and Exploring Datasets

This assignment is purposely open-ended. You will be asked to load datasets from the [UC-Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php). 

Even though you maybe using different datasets than your fellow classmates, try and be supportive and assist each other in the challenges that you are facing. You will only deepend your understanding of these topics as you work to assist one another. Many popular UCI datasets face similar data loading challenges.

Remember that the UCI datasets do not necessarily have a file type of `.csv` so it's important that you learn as much as you can about the dataset before you try and load it. See if you can look at the raw text of the file either locally or using the `!curl` shell command -or in some other way before you try and read it in as a dataframe. This will help you catch what would otherwise be unforseen problems.

Feel free to embellish this notebook with additional markdown cells,code cells, comments, graphs, etc. Whatever you think helps adequately address the questions.

In [0]:
import numpy as np
import pandas as pd
from google.colab import files

## 1) Load a dataset from UCI (via its URL)

Please navigate to the home page and choose a dataset (other than the Adult dataset) from the "Most Popular" section on the right-hand side of the home page. Load the dataset via its URL and check the following (show your work):

- Are the headers showing up properly? **Headers are showing up after a bit of reformatting**
- Look at the first 5 and the last 5 rows, do they seem to be in order?**Not sure yet if it has a order per say but does seem to be displaying correctly**
- Does the dataset have the correct number of rows and columns as described in the UCI page? **Including the "class" attribute the shape is good**
- Does UCI list this dataset as having missing values? Check for missing values and see if your analysis corroborates what UCI reports?**Yes it does have missing data**
- if `NaN` values or other missing value indicators are not being detected by `df.isnull().sum()` find a way to replace whatever is indicating the missing values with `np.NaN`.
- Use the .describe() function in order to see the summary statistics of both the numeric and non-numeric columns. **See Below**

In [0]:
# checking out the data first
# Don't need it to run always
# !curl 'https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer/breast-cancer.data'

In [0]:
headers = ['Class', 'Age','Menopause', 'Tumor_Size', 'INV_Nodes',
           'Nodes_Caps', 'Deg_Malig', 'Breast', 'Breast_Quad', 'Irradiate']

In [0]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer/breast-cancer.data', header=None, names=headers)

In [10]:
df.head()

                  Class    Age Menopause  ... Breast Breast_Quad Irradiat
0  no-recurrence-events  30-39   premeno  ...   left    left_low       no
1  no-recurrence-events  40-49   premeno  ...  right    right_up       no
2  no-recurrence-events  40-49   premeno  ...   left    left_low       no
3  no-recurrence-events  60-69      ge40  ...  right     left_up       no
4  no-recurrence-events  40-49   premeno  ...  right   right_low       no

[5 rows x 10 columns]

In [11]:
df.tail()

                 Class    Age Menopause  ... Breast Breast_Quad Irradiat
281  recurrence-events  30-39   premeno  ...   left     left_up       no
282  recurrence-events  30-39   premeno  ...   left     left_up      yes
283  recurrence-events  60-69      ge40  ...  right     left_up       no
284  recurrence-events  40-49      ge40  ...   left    left_low       no
285  recurrence-events  50-59      ge40  ...   left    left_low       no

[5 rows x 10 columns]

In [12]:
df.shape

(286, 10)

In [51]:
# Nodes_Caps has unknown/missing data
df.Nodes_Caps.unique()

array(['no', 'yes', '?'], dtype=object)

In [50]:
# Breast_Quad has unknown/missing data
df.Breast_Quad.unique()

array(['left_low', 'right_up', 'left_up', 'right_low', 'central', '?'],
      dtype=object)

In [0]:
# Replaced those '?' with nan value
df = df.replace('?', np.NaN)

In [41]:
df.isnull().sum()

Class          0
Age            0
Menopause      0
Tumor_Size     0
INV_Nodes      0
Nodes_Caps     8
Deg_Malig      0
Breast         0
Breast_Quad    1
Irradiat       0
dtype: int64

In [49]:
df.sample(30)

                    Class    Age Menopause  ... Breast Breast_Quad Irradiate
129  no-recurrence-events  40-49   premeno  ...  right     left_up       yes
20   no-recurrence-events  50-59      ge40  ...   left    left_low        no
179  no-recurrence-events  40-49   premeno  ...  right    left_low       yes
193  no-recurrence-events  30-39   premeno  ...   left   right_low        no
88   no-recurrence-events  50-59      ge40  ...  right     left_up        no
204     recurrence-events  50-59   premeno  ...   left    right_up        no
51   no-recurrence-events  30-39   premeno  ...   left   right_low        no
10   no-recurrence-events  40-49   premeno  ...   left     central        no
74   no-recurrence-events  30-39   premeno  ...   left   right_low        no
1    no-recurrence-events  40-49   premeno  ...  right    right_up        no
66   no-recurrence-events  40-49   premeno  ...  right   right_low        no
224     recurrence-events  30-39   premeno  ...   left    left_low       yes
68   no-recurrence-events  50-59      ge40  ...   left    left_low        no
221     recurrence-events  30-39   premeno  ...  right     left_up        no
80   no-recurrence-events  50-59      ge40  ...  right    left_low        no
114  no-recurrence-events  40-49   premeno  ...  right    right_up        no
206     recurrence-events  50-59      ge40  ...   left           ?        no
106  no-recurrence-events  40-49   premeno  ...   left     left_up        no
90   no-recurrence-events  30-39   premeno  ...  right     central        no
71   no-recurrence-events  40-49   premeno  ...  right     left_up        no
26   no-recurrence-events  50-59   premeno  ...   left    left_low        no
112  no-recurrence-events  40-49   premeno  ...  right     left_up        no
203     recurrence-events  50-59      ge40  ...   left    left_low        no
17   no-recurrence-events  50-59   premeno  ...   left    left_low        no
97   no-recurrence-events  60-69      ge40  ...  right     left_up        no
278     recurrence-events  50-59   premeno  ...  right    right_up        no
208     recurrence-events  50-59   premeno  ...   left    right_up        no
117  no-recurrence-events  40-49      ge40  ...   left     left_up        no
280     recurrence-events  50-59      ge40  ...   left    left_low       yes
67   no-recurrence-events  50-59      ge40  ...   left     left_up        no

[30 rows x 10 columns]

In [45]:
df.describe()

        Deg_Malig
count  286.000000
mean     2.048951
std      0.738217
min      1.000000
25%      2.000000
50%      2.000000
75%      3.000000
max      3.000000

## 2) Load a dataset from your local machine.
Choose a second dataset from the "Popular Datasets" listing on UCI, but this time download it to your local machine instead of reading it in via the URL. Upload the file to Google Colab using the files tab in the left-hand sidebar or by importing `files` from `google.colab` The following link will be a useful resource if you can't remember the syntax: <https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92>

- Answer all of the same bullet point questions from part 1 again on this new dataset.

In [0]:
# uploading my files
# uploaded = files.upload()

In [0]:
df2 = pd.read_csv('vgsales.csv', header=None, names=headers2)

In [0]:
# Columns was formated correctly but want to rename them to make sure there was no errors and to improve readablity
df2.columns = ['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher',
            'NA_Sales(in M)', 'EU_Sales(in M)', 'JP_Sales(in M)', 'Other_Sales(in M)', 'Global_Sales(in M)']

In [0]:
# Ranking seemed like a logical indexing of the dataset
df2 = df2.set_index('Rank')

In [71]:
# first 5 values
df2.head()

                   Name  Platform  ... Other_Sales(in M) Global_Sales(in M)
Rank                               ...
Rank               Name  Platform  ...       Other_Sales       Global_Sales
1            Wii Sports       Wii  ...              8.46              82.74
2     Super Mario Bros.       NES  ...              0.77              40.24
3        Mario Kart Wii       Wii  ...              3.31              35.82
4     Wii Sports Resort       Wii  ...              2.96                 33

[5 rows x 10 columns]

In [72]:
# Last 5 values
df2.tail()

                                                   Name  ... Global_Sales(in M)
Rank                                                     ...
16596                Woody Woodpecker in Crazy Castle 5  ...               0.01
16597                     Men in Black II: Alien Escape  ...               0.01
16598  SCORE International Baja 1000: The Official Game  ...               0.01
16599                                        Know How 2  ...               0.01
16600                                  Spirits & Spells  ...               0.01

[5 rows x 10 columns]

In [74]:
# Five random Values
df2.sample(5)

                                                   Name  ... Global_Sales(in M)
Rank                                                     ...
9875                           Onimusha: Blade Warriors  ...               0.12
3270                         WWE SmackDown vs. Raw 2010  ...               0.62
1579                                 Brian Lara Cricket  ...               1.26
1396  Teenage Mutant Ninja Turtles III: The Manhatta...  ...               1.39
6940               Sesame Street: Elmo's Number Journey  ...               0.24

[5 rows x 10 columns]

In [77]:
# Checking for null values Kaggle description didn't mention it
df2.isnull().sum()

Name                    0
Platform                0
Year                  271
Genere                  0
Publisher              58
NA_Sales(in M)          0
EU_Sales(in M)          0
JP_Sales(in M)          0
Other_Sales(in M)       0
Global_Sales(in M)      0
dtype: int64

In [78]:
# Lets check those out
df2.Year.unique()
# Seem to just just some nan values which is okay for the purpose of this

array(['Year', '2006', '1985', '2008', '2009', '1996', '1989', '1984',
       '2005', '1999', '2007', '2010', '2013', '2004', '1990', '1988',
       '2002', '2001', '2011', '1998', '2015', '2012', '2014', '1992',
       '1997', '1993', '1994', '1982', '2003', '1986', '2000', nan,
       '1995', '2016', '1991', '1981', '1987', '1980', '1983', '2020',
       '2017'], dtype=object)

In [79]:
# What about the publisher
df2.Publisher.unique()
# A lot of fish in that sea but after going through that it seem also just nan values

array(['Publisher', 'Nintendo', 'Microsoft Game Studios',
       'Take-Two Interactive', 'Sony Computer Entertainment',
       'Activision', 'Ubisoft', 'Bethesda Softworks', 'Electronic Arts',
       'Sega', 'SquareSoft', 'Atari', '505 Games', 'Capcom',
       'GT Interactive', 'Konami Digital Entertainment',
       'Sony Computer Entertainment Europe', 'Square Enix', 'LucasArts',
       'Virgin Interactive', 'Warner Bros. Interactive Entertainment',
       'Universal Interactive', 'Eidos Interactive', 'RedOctane',
       'Vivendi Games', 'Enix Corporation', 'Namco Bandai Games',
       'Palcom', 'Hasbro Interactive', 'THQ', 'Fox Interactive',
       'Acclaim Entertainment', 'MTV Games', 'Disney Interactive Studios',
       nan, 'Majesco Entertainment', 'Codemasters', 'Red Orb', 'Level 5',
       'Arena Entertainment', 'Midway Games', 'JVC', 'Deep Silver',
       '989 Studios', 'NCSoft', 'UEP Systems', 'Parker Bros.', 'Maxis',
       'Imagic', 'Tecmo Koei', 'Valve Software', 'ASCII Entertainment',
       'Mindscape', 'Infogrames', 'Unknown', 'Square', 'Valve',
       'Activision Value', 'Banpresto', 'D3Publisher',
       'Oxygen Interactive', 'Red Storm Entertainment', 'Video System',
       'Hello Games', 'Global Star', 'Gotham Games', 'Westwood Studios',
       'GungHo', 'Crave Entertainment', 'Hudson Soft', 'Coleco',
       'Rising Star Games', 'Atlus', 'TDK Mediactive', 'ASC Games',
       'Zoo Games', 'Accolade', 'Sony Online Entertainment', '3DO', 'RTL',
       'Natsume', 'Focus Home Interactive', 'Alchemist',
       'Black Label Games', 'SouthPeak Games', 'Mastertronic', 'Ocean',
       'Zoo Digital Publishing', 'Psygnosis', 'City Interactive',
       'Empire Interactive', 'Success', 'Compile', 'Russel', 'Taito',
       'Agetec', 'GSP', 'Microprose', 'Play It', 'Slightly Mad Studios',
       'Tomy Corporation', 'Sammy Corporation', 'Koch Media',
       'Game Factory', 'Titus', 'Marvelous Entertainment', 'Genki',
       'Mojang', 'Pinnacle', 'CTO SpA', 'TalonSoft', 'Crystal Dynamics',
       'SCi', 'Quelle', 'mixi, Inc', 'Rage Software', 'Ubisoft Annecy',
       'Scholastic Inc.', 'Interplay', 'Mystique', 'ChunSoft',
       'Square EA', '20th Century Fox Video Games', 'Avanquest Software',
       'Hudson Entertainment', 'Nordic Games', 'Men-A-Vision', 'Nobilis',
       'Big Ben Interactive', 'Touchstone', 'Spike', 'Jester Interactive',
       'Nippon Ichi Software', 'LEGO Media', 'Quest',
       'Illusion Softworks', 'Tigervision', 'Funbox Media',
       'Rocket Company', 'Metro 3D', 'Mattel Interactive', 'IE Institute',
       'Rondomedia', 'Sony Computer Entertainment America',
       'Universal Gamex', 'Ghostlight', 'Wizard Video Games',
       'BMG Interactive Entertainment', 'PQube', 'Trion Worlds', 'Laguna',
       'Ignition Entertainment', 'Takara', 'Kadokawa Shoten', 'Destineer',
       'Enterbrain', 'Xseed Games', 'Imagineer',
       'System 3 Arcade Software', 'CPG Products', 'Aruze Corp',
       'Gamebridge', 'Midas Interactive Entertainment', 'Jaleco',
       'Answer Software', 'XS Games', 'Activision Blizzard',
       'Pack In Soft', 'Rebellion', 'Xplosiv', 'Ultravision',
       'GameMill Entertainment', 'Wanadoo', 'NovaLogic', 'Telltale Games',
       'Epoch', 'BAM! Entertainment', 'Knowledge Adventure', 'Mastiff',
       'Tetris Online', 'Harmonix Music Systems', 'ESP', 'TYO',
       'Telegames', 'Mud Duck Productions', 'Screenlife', 'Pioneer LDC',
       'Magical Company', 'Mentor Interactive', 'Kemco',
       'Human Entertainment', 'Avanquest', 'Data Age',
       'Electronic Arts Victor', 'Black Bean Games', 'Jack of All Games',
       '989 Sports', 'Takara Tomy', 'Media Rings', 'Elf', 'Kalypso Media',
       'Starfish', 'Zushi Games', 'Jorudan', 'Destination Software, Inc',
       'New', 'Brash Entertainment', 'ITT Family Games', 'PopCap Games',
       'Home Entertainment Suppliers', 'Ackkstudios', 'Starpath Corp.',
       'P2 Games', 'BPS', 'Gathering of Developers', 'NewKidCo',
       'Storm City Games', 'CokeM Interactive', 'CBS Electronics',
       'Magix', 'Marvelous Interactive', 'Nihon Falcom Corporation',
       'Wargaming.net', 'Angel Studios', 'Arc System Works', 'Playmates',
       'SNK Playmore', 'Hamster Corporation', 'From Software',
       'Nippon Columbia', 'Nichibutsu', 'Little Orbit',
       'Conspiracy Entertainment', 'DTP Entertainment', 'Hect',
       'Mumbo Jumbo', 'Pacific Century Cyber Works', 'Indie Games',
       'Liquid Games', 'NEC', 'Axela', 'ArtDink', 'Sunsoft', 'Gust',
       'SNK', 'NEC Interchannel', 'FuRyu', 'Xing Entertainment',
       'ValuSoft', 'Victor Interactive', 'Detn8 Games',
       'American Softworks', 'Nordcurrent', 'Bomb', 'Falcom Corporation',
       'AQ Interactive', 'CCP', 'Milestone S.r.l.', 'Sears',
       'JoWood Productions', 'Seta Corporation', 'On Demand', 'NCS',
       'Aspyr', 'Gremlin Interactive Ltd', 'Agatsuma Entertainment',
       'Compile Heart', 'Culture Brain', 'Mad Catz', 'Shogakukan',
       'Merscom LLC', 'Rebellion Developments', 'Nippon Telenet',
       'TDK Core', 'bitComposer Games', 'Foreign Media Games', 'Astragon',
       'SSI', 'Kadokawa Games', 'Idea Factory',
       'Performance Designed Products', 'Asylum Entertainment',
       'Core Design Ltd.', 'PlayV', 'UFO Interactive',
       'Idea Factory International', 'Playlogic Game Factory',
       'Essential Games', 'Adeline Software', 'Funcom',
       'Panther Software', 'Blast! Entertainment Ltd', 'Game Life',
       'DSI Games', 'Avalon Interactive', 'Popcorn Arcade',
       'Neko Entertainment', 'Vir2L Studios', 'Aques', 'Syscom',
       'White Park Bay Software', 'System 3', 'Vatical Entertainment',
       'Daedalic', 'EA Games', 'Media Factory', 'Vic Tokai',
       'The Adventure Company', 'Game Arts', 'Broccoli', 'Acquire',
       'General Entertainment', 'Excalibur Publishing', 'Imadio',
       'Swing! Entertainment', 'Sony Music Entertainment', 'Aqua Plus',
       'Paradox Interactive', 'Hip Interactive',
       'DreamCatcher Interactive', 'Tripwire Interactive', 'Sting',
       'Yacht Club Games', 'SCS Software', 'Bigben Interactive',
       'Havas Interactive', 'Slitherine Software', 'Graffiti', 'Funsta',
       'Telstar', 'U.S. Gold', 'DreamWorks Interactive',
       'Data Design Interactive', 'MTO', 'DHM Interactive', 'FunSoft',
       'SPS', 'Bohemia Interactive', 'Reef Entertainment',
       'Tru Blu Entertainment', 'Moss', 'T&E Soft', 'O-Games',
       'Aksys Games', 'NDA Productions', 'Data East',
       'Time Warner Interactive', 'Gainax Network Systems', 'Daito',
       'O3 Entertainment', 'Gameloft', 'Xicat Interactive',
       'Simon & Schuster Interactive', 'Valcon Games', 'PopTop Software',
       'TOHO', 'HMH Interactive', '5pb', 'Cave',
       'CDV Software Entertainment', 'Microids', 'PM Studios', 'Paon',
       'Micro Cabin', 'GameTek', 'Benesse', 'Type-Moon',
       'Enjoy Gaming ltd.', 'Asmik Corp', 'Interplay Productions',
       'Asmik Ace Entertainment', 'inXile Entertainment', 'Image Epoch',
       'Phantom EFX', 'Evolved Games', 'responDESIGN',
       'Culture Publishers', 'Griffin International', 'Hackberry',
       'Hearty Robin', 'Nippon Amuse', 'Origin Systems', 'Seventh Chord',
       'Mitsui', 'Milestone', 'Abylight', 'Flight-Plan', 'Glams', 'Locus',
       'Warp', 'Daedalic Entertainment', 'Alternative Software',
       'Myelin Media', 'Mercury Games', 'Irem Software Engineering',
       'Sunrise Interactive', 'Elite', 'Evolution Games', 'Tivola',
       'Global A Entertainment', 'Edia', 'Athena', 'Aria', 'Gamecock',
       'Tommo', 'Altron', 'Happinet', 'iWin', 'Media Works', 'Fortyfive',
       'Revolution Software', 'Imax', 'Crimson Cow', '10TACLE Studios',
       'Groove Games', 'Pack-In-Video', 'Insomniac Games',
       'Ascaron Entertainment GmbH', 'Asgard', 'Ecole', 'Yumedia',
       'Phenomedia', 'HAL Laboratory', 'Grand Prix Games', 'DigiCube',
       'Creative Core', 'Kaga Create', 'WayForward Technologies',
       'LSP Games', 'ASCII Media Works', 'Coconuts Japan', 'Arika',
       'Ertain', 'Marvel Entertainment', 'Prototype',
       'TopWare Interactive', 'Phantagram', '1C Company',
       'The Learning Company', 'TechnoSoft', 'Vap', 'Misawa', 'Tradewest',
       'Team17 Software', 'Yeti', 'Pow', 'Navarre Corp', 'MediaQuest',
       'Max Five', 'Comfort', 'Monte Christo Multimedia', 'Pony Canyon',
       'Riverhillsoft', 'Summitsoft', 'Milestone S.r.l', 'Playmore',
       'MLB.com', 'Kool Kizz', 'Flashpoint Games', '49Games',
       'Legacy Interactive', 'Alawar Entertainment', 'CyberFront',
       'Cloud Imperium Games Corporation', 'Societa',
       'Virtual Play Games', 'Interchannel', 'Sonnet', 'Experience Inc.',
       'Zenrin', 'Iceberg Interactive', 'Ivolgamus', '2D Boy',
       'MC2 Entertainment', 'Kando Games', 'Just Flight', 'Office Create',
       'Mamba Games', 'Fields', 'Princess Soft', 'Maximum Family Games',
       'Berkeley', 'Fuji', 'Dusenberry Martin Racing', 'imageepoch Inc.',
       'Big Fish Games', 'Her Interactive', 'Kamui', 'ASK',
       'Headup Games', 'KSS', 'Cygames', 'KID', 'Quinrose', 'Sunflowers',
       'dramatic create', 'TGL', 'Encore', 'Extreme Entertainment Group',
       'Intergrow', 'G.Rev', 'Sweets', 'Kokopeli Digital Studios',
       'Number None', 'Nexon', 'id Software', 'BushiRoad', 'Tryfirst',
       'Strategy First', '7G//AMES', 'GN Software', "Yuke's",
       'Easy Interactive', 'Licensed 4U', 'FuRyu Corporation',
       'Lexicon Entertainment', 'Paon Corporation', 'Kids Station', 'GOA',
       'Graphsim Entertainment', 'King Records', 'Introversion Software',
       'Minato Station', 'Devolver Digital', 'Blue Byte', 'Gaga',
       'Yamasa Entertainment', 'Plenty', 'Views', 'fonfun', 'NetRevo',
       'Codemasters Online', 'Quintet', 'Phoenix Games', 'Dorart',
       'Marvelous Games', 'Focus Multimedia', 'Imageworks',
       'Karin Entertainment', 'Aerosoft', 'Technos Japan Corporation',
       'Gakken', 'Mirai Shounen', 'Datam Polystar', 'Saurus', 'HuneX',
       'Revolution (Japan)', 'Giza10', 'Visco', 'Alvion', 'Mycom', 'Giga',
       'Warashi', 'System Soft', 'Sold Out', 'Lighthouse Interactive',
       'Masque Publishing', 'RED Entertainment', 'Michaelsoft',
       'Media Entertainment', 'New World Computing', 'Genterprise',
       'Interworks Unlimited, Inc.', 'Boost On', 'Stainless Games',
       'EON Digital Entertainment', 'Epic Games', 'Naxat Soft',
       'Ascaron Entertainment', 'Piacci', 'Nitroplus',
       'Paradox Development', 'Otomate', 'Ongakukan', 'Commseed',
       'Inti Creates', 'Takuyo', 'Interchannel-Holon', 'Rain Games',
       'UIG Entertainment'], dtype=object)

In [80]:
df2.describe()

                               Name  ... Global_Sales(in M)
count                         16599  ...              16599
unique                        11494  ...                624
top     Need for Speed: Most Wanted  ...               0.02
freq                             12  ...               1071

[4 rows x 10 columns]

## 3) Explore the distributions of the variables of the dataset using:
- Histograms
- Scatterplots
- Density Plots

## 4) Make Crosstabs of the Categorical Variables

Take whichever of the above datasets has more categorical variables and use crosstabs to tabulate the different instances of the categorical variables.

In [0]:
pd.crosstab(df2['Gener'], df2['race'])

## 5) Create at least one visualization from a crosstab:

Remember that a crosstab is just a dataframe and can be manipulated in the same way by row index, column, index, or column/row/cell position.

In [0]:
# Your Code Here

## Stretch Goals 

The following additional study tasks are optional, they are intended to give you an opportunity to stretch yourself beyond the main requirements of the assignment. You can pick and choose from the below, you do not need to complete them in any particular order.

### - Practice Exploring other Datasets

### -  Try using the Seaborn plotting library's "Pairplot" functionality in order to explore all of the possible histograms and scatterplots of your dataset all at once:

[Seaborn Pairplot](https://seaborn.pydata.org/generated/seaborn.pairplot.html)

### - Turn some of the continuous variables into categorical variables by binning the values using:
- [pd.cut()](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.cut.html)
- [pd.qcut()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html)
- <https://stackoverflow.com/questions/30211923/what-is-the-difference-between-pandas-qcut-and-pandas-cut>

And then use crosstabs to compare/visualize these binned variables against the other variables.


### - Other types and sources of data
Not all data comes in a nice single file - for example, image classification involves handling lots of image files. You still will probably want labels for them, so you may have tabular data in addition to the image blobs - and the images may be reduced in resolution and even fit in a regular csv as a bunch of numbers.

If you're interested in natural language processing and analyzing text, that is another example where, while it can be put in a csv, you may end up loading much larger raw data and generating features that can then be thought of in a more standard tabular fashion.

Overall you will in the course of learning data science deal with loading data in a variety of ways. Another common way to get data is from a database - most modern applications are backed by one or more databases, which you can query to get data to analyze. We'll cover this more in our data engineering unit.

How does data get in the database? Most applications generate logs - text files with lots and lots of records of each use of the application. Databases are often populated based on these files, but in some situations you may directly analyze log files. The usual way to do this is with command line (Unix) tools - command lines are intimidating, so don't expect to learn them all at once, but depending on your interests it can be useful to practice.

One last major source of data is APIs: https://github.com/toddmotto/public-apis

API stands for Application Programming Interface, and while originally meant e.g. the way an application interfaced with the GUI or other aspects of an operating system, now it largely refers to online services that let you query and retrieve data. You can essentially think of most of them as "somebody else's database" - you have (usually limited) access.

*Stretch goal* - research one of the above extended forms of data/data loading. See if you can get a basic example working in a notebook. Image, text, or (public) APIs are probably more tractable - databases are interesting, but there aren't many publicly accessible and they require a great deal of setup.